{% extends 'base.html' %}
{% load static %}
{% block title %}
Author Table
{% endblock %}
{% block content %}
<div class="container">
    <h2> List of all authors:</h2>
</div>
<div class="container">
    <a href="{% url 'create_author' %}" class="btn btn-primary pull pull-right">Create New Author</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Name</td>
                <td>Occupation</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            {% for obj in auth %}
            <tr>
                <td>{{ obj.name }}</td>
                <td>{{ obj.category }}</td>
                <td><a href="{% url 'update_author' cid=obj.id %}" class="btn btn-warning">Edit</a>||<a href="{% url 'delete_author' cid=obj.id %}" class="btn btn-danger">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block scripts %}

{% endblock %}